@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: aliceblue;
  font-family: "Nanum Gothic", sans-serif;
}
